<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YAML-IOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>YAML.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>YML.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>26027B85137883C500929C79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26027BA413788CE800929C79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26027BB913788D5700929C79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26027BCA13788D8C00929C79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26027BDA13788E0600929C79</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26146B9E137464B100444BAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26146BB7137465F300444BAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>262D8C5A137892990092E378</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>269602DC1373569100EAFF26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26B0F02113745801008476AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26B0F03A13745A59008476AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26B0F05313745B8C008476AC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>26BCF1CD137897F1005C45B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
